<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>@ViewData["Title"] - Thomas Castro</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="~/css/site.css">
  @RenderSection("Styles", required: false)
</head>
<body>

@await Html.PartialAsync("_Navbar")

<main>
  @RenderBody()
</main>

@await Html.PartialAsync("_Footer")

<script src="~/js/site.js"></script>
@RenderSection("Scripts", required: false)

</body>
</html>
